@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@font-face {
    font-family: digital-7;
    src: url(../src/digital-7.ttf);
}

body{
    margin: 0;
    background: #f4f4f4;
    font-family: 'VT323', monospace;
    color: #f4f4f4;
    font-size: 36px;
}
.container{
    box-sizing: border-box;
}
#calc{
    height: 500px;
    width: 300px;
    margin: 50px auto;
    border: 5px inset #CECECE;
    border-radius: 30px;
    background: #DEDEDE;
    padding: 10px;
    box-sizing: border-box;
}
.tela{
   height: 100px;
   width: 250px; 
   margin: 40px auto;
   border: 3px inset #A3A3A3;
   border-radius: 10px;
   background: rgb(146,148,137);
   background: linear-gradient(90deg, rgba(146,148,137,1) 0%, rgba(208,222,143,1) 50%, rgba(167,185,88,1) 100%);
   /* font-family: 'Orbitron', sans-serif; */
   font-family: digital-7;
   color: #2e2d2d;
   /* display: flex; */
   /* flex-wrap: wrap; */
   padding: 5px;
   text-align: right;
}
#time{
    font-size: 18px;
    margin: 0 215px 0 0;
}
#date{
    font-size: 18px;
    margin: -20px 0 0 130px;
}
#display{
    font-size: 68px;
    margin: 5px 0 0 -200px;
    text-align: right;
}
#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;flex-wrap: wrap;
}
.btn{
    height: 40px;
    width: 55px;
    border: 2px outset #A3A3A3;
    border-radius: 5px;
    background: #575757;
    text-align: center;
}
.btn:hover{
    cursor: pointer;
}
.btn:active{
    border: 2px inset #A3A3A3;
}
.btn-ac{
    background: #F2793F;
    margin: 0 8px 8px 0;
}
.btn-ce{
    background: #F2793F;
    margin: 0 8px 8px 0;
}
.btn-porcento{
    margin: 0 8px 8px 0;
}
.btn-divisao{
    margin: 0 0 8px 0;
}
.btn-7{
    margin: 0 8px 8px 0;
}
.btn-8{
    margin: 0 8px 8px 0;
}
.btn-9{
    margin: 0 8px 8px 0;
}
.btn-multiplicacao{
    margin: 0 0 8px 0;
}
.btn-4{
    margin: 0 8px 8px 0;
}
.btn-5{
    margin: 0 8px 8px 0;
}
.btn-6{
    margin: 0 8px 8px 0;
}
.btn-subtracao{
    margin: 0 0 8px 0;
    font-size: 42px;
}
.btn-1{
    margin: -50px 8px 8px 0;
}
.btn-2{
    margin: -50px 8px 8px 0;
}
.btn-3{
    margin: -50px 8px 8px 0;
}
.btn-soma{
    height: 88px;
    margin: 0 0 8px 0;
    font-size: 80px;
}
.btn-0{
    margin: -50px 8px 8px -56.5px;
}
.btn-ponto{
    margin: -50px 8px 8px 0;
}
.btn-igual{
    margin: -50px 8px 8px 0;
}

/* Mobile */
@media only screen and (max-width: 600px){

    #calc{
        height: 510px;
    }
    .tela{
        margin: 50px auto;
    }

}